/*
################################################################
#suitesofeuston.ca: card.css
#Copyright © 2025 Allison Munn
#FULL COPYRIGHT NOTICE IS IN README
################################################################
*/

@media only screen and (max-width: 428px) and (min-width: 214px) {
  div.card {
    width: calc(100% - 16px - 24px);
  }

  div.card.card-height-short {
    height: calc(214px);
  }

  div.card.card-height-medium {
    height: calc(268px + 12px + 8px + 12px);
  }

  div.card.card-height-tall {
    height: calc(335px + 12px + 8px + 12px + 12px + 8px + 12px);
  }

}

@media only screen and (max-width: 444px) and (min-width: 429px) {
  div.card {
    width: calc(100% - 16px - 24px);
  }

  div.card.card-height-short {
    height: calc(214px);
  }

  div.card.card-height-medium {
    height: calc(268px + 12px + 8px + 12px);
  }

  div.card.card-height-tall {
    height: calc(335px + 12px + 8px + 12px + 12px + 8px + 12px);
  }

}

@media only screen and (max-width: 926px) and (min-width: 445px) {
  div.card {
    width: calc(49.500% - 16px - 24px);
  }

  div.card.card-height-short {
    height: calc(214px);
  }

  div.card.card-height-medium {
    height: calc(268px + 12px + 8px + 12px);
  }

  div.card.card-height-tall {
    height: calc(335px + 12px + 8px + 12px + 12px + 8px + 12px);
  }

}

@media only screen and (min-width: 927px) {
  
  div.card {
    width: calc(49.500% - 16px - 24px);
  }

  div.card.card-width-tiny {
    width: calc(16.499% - 16px - 24px);
  }

  div.card.card-width-small {
    width: calc(32.999% - 16px - 24px);
  }

  div.card.card-width-medium {
    width: calc(49.500% - 16px - 24px);
  }

  div.card.card-width-large {
    width: calc(65.999% - 16px - 24px);
  }

  div.card.card-width-huge {
    width: calc(82.499% - 16px - 24px);
  }

  div.card.card-height-short {
    height: calc(214px);
  }

  div.card.card-height-medium {
    height: calc(428px + 12px + 8px + 12px);
  }

  div.card.card-height-tall {
    height: calc(624px + 12px + 8px + 12px + 12px + 8px + 12px);
  }

}

div.card {
  display: inline-block;
  vertical-align: top;
  min-height: 240px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 12px;
  padding: 12px;
  color: #E1B664;
  background-color: #0C1321;
  scroll-snap-align: top;
  scroll-padding: 8px;
}

div.card > div.card-title {
  display: block;
  width: 100%;
  height: 32px;
  margin-top: 8px;
  line-height: 1;
  font-size: 32px;
}

div.card > div.card-title + div.card-title-sub {
  display: block;
  width: 100%;
  height: 12px;
  margin-top: 8px;
  line-height: 1;
  font-size: 12px;
}

div.card > div.card-content {
  display: block;
  width: 100%;
  height: calc(100% - 8px - 32px - 8px - 12px - 8px - 40px);
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: ‎‎#E1B664 #050A14;
}

div.card > div.card-content::-webkit-scrollbar {
  width: 3px;
}

div.card > div.card-content::-webkit-scrollbar-thumb {
  background-color: #050A14;
  border-radius: 12px;
  border: 1px solid #00000000;
}

div.card > div.card-content::-webkit-scrollbar-track {
  background-color: #00000000;
}

div.card > div.card-content > div.card-weather {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

div.card > div.card-content > img.card-picture {
  display: block;
  width: inherit;
  height: calc(100%);
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-attachment: scroll;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.card > div.card-content > img.card-picture-4x3 {
  display: block;
  width: inherit;
  height: calc(calc(100% * 3) / 4);
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-attachment: scroll;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.card > div.card-content > img.card-picture-3x4 {
  display: block;
  width: inherit;
  height: calc(calc(100% * 4) / 3);
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-attachment: scroll;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.card > div.card-button > a > div.card-button-inner {
  display: block;
  width: fit-content;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 0px;
}

div.card > div.card-button > a > div.card-button-inner { 
  display: block; 
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1;
  font-size: 24px;
  background-color: #562921;
  border-radius: 12px;
}

div.card > div.card-button > a > div.card-button-inner:visited {
  background-color: #562921;
}
div.card > div.card-button > a > div.card-button-inner:hover {
  background-color: #5B3D37;
}
div.card > div.card-button > a > div.card-button-inner:active {
  background-color: #8B655E;
}
