/*
################################################################
#suitesofeuston.ca.ca: image.css
#Copyright © 2025 Allison Munn
#FULL COPYRIGHT NOTICE IS IN README
################################################################
*/

img.img-room-01 {
  background-image: url(/suitesofeuston.ca/img/room/room-01.jpeg);
}

img.img-room-02 {
  background-image: url(/suitesofeuston.ca/img/room/room-02.jpeg);
}

img.img-room-03 {
  background-image: url(/suitesofeuston.ca/img/room/room-03.jpeg);
}

img.img-room-04 {
  background-image: url(/suitesofeuston.ca/img/room/room-04.jpeg);
}

img.img-room-05 {
  background-image: url(/suitesofeuston.ca/img/room/room-05.jpeg);
}

img.img-room-06 {
  background-image: url(/suitesofeuston.ca/img/room/room-06.jpeg);
}

img.img-room-07 {
  background-image: url(/suitesofeuston.ca/img/room/room-07.jpeg);
}

img.img-room-08 {
  background-image: url(/suitesofeuston.ca/img/room/room-08.jpeg);
}

img.img-room-09 {
  background-image: url(/suitesofeuston.ca/img/room/room-09.jpeg);
}

img.img-room-10 {
  background-image: url(/suitesofeuston.ca/img/room/room-10.jpeg);
}

